
button {
  font-size: calc(10px + 2vmin);
  cursor: pointer;
}
.container {
    margin: 20px;
}

.todo-container, .form-group{
    display: flex;
    justify-content: space-around;
}
.form-group {
    margin: 10px;
}
.action-button {
    margin: 0 10px;
}

